*{background-size: cover;}

.header{
    height: 100px;
    margin: top -29px; ;
}
.i{
    margin-top: 20px;
    margin-left: 100px ;
}
.one{
    color: blanchedalmond;
    margin-top: 10px;
    display: flex;
    width: 200px;
    position: absolute;
    left: 50px;
    font-size: 35px;
    font-family:"Oswald", sans-serif;
     
}
.mid{
    display: block;
    width: 33%;
    margin:30px auto;
}
nav{
    position: absolute;
    top: 37px;
    height: 50px;
}
nav a{
    color:black;
    padding: 30px;
    font-size: 25px;
    font-family:"Oswald", sans-serif;
    margin-right: 20px;;
}
nav a:hover{
    color:blanchedalmond
}

.log{
    width: 70px;
    height:35px;
    border-radius: 10px;
    background-color: blanchedalmond;
    position: absolute;
    right:150px;
    top:30px;
    padding: 10px;
    color: black;
    text-align: center;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.sign{
    width: 70px;
    height:35px;
    border-radius: 10px;
    background-color: blanchedalmond;
    position: absolute;
    right:50px;
    top:30px;
    padding: 10px;
    color: black;
    text-align: center;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.log:hover{
    color:black;
    width: 90px;
    height: 50px;
}
.sign:hover{
    color:black;
    width: 90px;
    height: 50px;
}
.main{
margin-left:720px;
margin-top: -20px;
   
    
}
.main .h1{
   padding-top: 30px;
    font-family: "Sofia",sans-serif;
    font-weight: bolder;
    font-size:50px;
    color:crimson;
    text-decoration-line: underline;
    text-decoration-color: black;
}
.main .h2{
    color:black;
    
    
}
.ki
{
    font-family: "Sofia",sans-serif;
    font-size:20px;
}

.jav{border-radius: 10px;
    height: 150px;
    padding-bottom: 30px; ;
   margin-top: -1850px;
    margin-left: 50px;
}
.digi{border-radius: 10px;
height: 150px;
    padding-top: 85px;
    padding-left: 50px;;
}
#ccs{border-radius: 10px;
    height: 150px;
    margin-left: 50px;
}
#bew{border-radius: 10px;
    margin-top: -460px;
    height: 150px;
    margin-left: 340px;

}


#aa{height: 150px;
    margin-left: 340px;
    padding-top: 35px;
    border-radius: 10px;
}




#op{border-radius: 10px;
    padding-top: 35px;
    height: 150px;
    margin-left: 340px;

}
footer{
    font-size:20px;
    text-align: right;
}